body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #000;
}

.main-content {
    background-image: url(./images/background-plane.jpg);
    background-size: 100%;
    width: 1270px;
    height: 650px;
    margin: auto;
}

.header {
    height: 100px;
}

#logo {
    width: 175px;
    margin-top: 30px;
    float: left;
}

.top-menu {
    margin-top: 30px;
    float: right;
}

.top-menu img {
    margin-left: 20px;
}

.main-text {
    width: 400px;
    margin-top: 50px;
}

.main-text h1 {
    color: #3DC6EF;
    font-size: 2.5em;
    font-weight: 100;
    margin-bottom: 20px;
}

.main-text p {
    color: #d1d1d1;
    font-size: 13px;
    margin-bottom: 20px;
    line-height: 140%;
}

.main-text button {
    background-color: black;
    border: 2px solid #3DC6EF;
    color: #3DC6EF;
    font-size: 0.9em;
    padding: 8px;
}

.main-text button:hover {
    background-color: #3DC6EF;
    border: 2px solid #3DC6EF;
    color:black;
}

.middle-bar {
    margin-top: 70px;
    position: absolute;
    width: 100%;
    height: 120px;
    left: 0px;
}

.left-rect {
    width: 21%;
    height: 100%;
    background-color: #007DB8;
    float: left;
}

.right-rect {
    width: 69%;
    height: 100%;
    background-color: #007DB8;
    float: right;
}

.middle-bar-content {
    padding: 0;
    margin-top: 25px;
    position: absolute;
    width: 69%;
    left: 22%;
}

.middle-bar-content li{
    width: 110px;
    list-style: none;
    float: left;
    text-align: center;
    margin-right: 20px;
}

.middle-bar-content img{
    width: 50%;
}

.middle-bar-content span{
    color: #ffffff;
    font-size: 0.65em;
}
.ones-list {
    margin: 0 auto;
    margin-top: 210px;
}
.one{
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 70px;
    color: #FFD220;
}
.hash{
    font-size: 30px;
}
.ones-text{
    color: #e1e1e1;
    font-size: 15px;
    padding-top: 20px;
}
.learn-more{
    color: #3DC6EF;
    font-size: 11px;
    text-decoration: none;
}
.learn-more:hover{
    color: #3DC6EF;
    font-size: 11px;
    text-decoration: underline;
    
}
.one-group{
    float: left;
    width: 32%;
    margin-left: 10px;
}

.footer{
    width: 1270px;
    margin: auto;
    margin-top: 15px;
    font-size: 13px;
}

#footer-left{
    float: left;
    color:#e1e1e1;
    text-decoration: none;
}
#footer-left:hover{
    text-decoration: underline;
}
.footer div{
    float: right;
}
.footer span{
    color: #808080;
    margin-right: 10px;
}
.footer div a{
    color: #808080;
    margin-right: 20px; 
    text-decoration: none;  
}
.footer div a:hover{
    text-decoration: underline;
}
.footer div img{
    float: right;
    margin-top: -2px;
}